---
Language: Cpp
BasedOnStyle: WebKit

UseTab: Never
TabWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
ColumnLimit: 120

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: true 

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true

BinPackArguments: true
BinPackParameters: true

BraceWrapping:
  AfterEnum: true
BreakBeforeBraces: WebKit
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakStringLiterals: true

DeriveLineEnding: false
DerivePointerAlignment: false

IncludeBlocks: Preserve

IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: None

KeepEmptyLinesAtTheStartOfBlocks: true

PointerAlignment: Left

SortIncludes: false

SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

